In [1]:
import pandas as pd

In [2]:
pd.read_csv('./../data/25_crypto_historical.csv')

,Date,Open,High,Low,Close,Volume,Currency,Name,Symbol
0,2016-07-28,1.6000,2.1100,1.3600,1.6800,890279.0,USD,Ethereum Classic,ETC
1,2016-07-29,1.6800,1.7900,1.5200,1.6400,696558.0,USD,Ethereum Classic,ETC
2,2016-07-30,1.6400,1.7000,1.5500,1.5700,290616.0,USD,Ethereum Classic,ETC
3,2016-07-31,1.5700,1.9200,1.4100,1.7900,777390.0,USD,Ethereum Classic,ETC
4,2016-08-01,1.7900,2.2900,1.7000,2.2900,1407690.0,USD,Ethereum Classic,ETC
...,...,...,...,...,...,...,...,...,...
45719,2022-08-19,1.0000,1.0001,0.9998,1.0000,259790144.0,USD,USD Coin,USDC
45720,2022-08-20,1.0000,1.0002,0.9999,1.0001,152627360.0,USD,USD Coin,USDC
45721,2022-08-21,1.0001,1.0002,0.9999,1.0001,392608768.0,USD,USD Coin,USDC
45722,2022-08-22,1.0001,1.0002,0.9999,1.0001,184266272.0,USD,USD Coin,USDC
45723,2022-08-23,1.0001,1.0002,1.0001,1.0002,188168848.0,USD,USD Coin,USDC